h1{
    text-align: center;
}
.registration{
    color: white;
    padding: 10px;
    border-style: dotted;
    border-color: black;
    background-image: linear-gradient(0deg, rgb(246,156,207), rgb(53,203,254));
    display: block;
}
.details{
   margin: 20px;
}
label{
    position: absolute;
  
}
input, textarea{
    margin-left: 40%;
    position:relative;
}
.details-r {
    margin: 20px;
 }
